.book-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }
  
  .book {
    width: 20rem;
  }
  
  .status {
    font-style: italic;
  }
  
  .book-cover {
    max-height: 24rem;
    object-fit: cover;
    border: 0.2rem solid black;
  }
  