
body{
box-sizing: border-box;

}

section{width:300pt;
    height:1000pt;
background-image: url(/exercises/Browser-ComingSoon/src/images/summer.jpeg);
background-repeat:cover;
}
p {
    text-align: center;
    font-size: 60px;
    margin-top: 0px;
  }