.d-none {
    display: none;
}

fieldset {
    display: flex;
    flex-direction: column;
}

#profile {
    /* height: 30rem; */
    font-family: 'Lato', sans-serif;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}