body {
    height: 100vh;
    overflow: hidden;
}

header {
    background: url(assets/background.jpg) repeat;
    background-size: 20%;
    height: 30%;
}

h1 {
    color: white;
    margin: 0;
    text-align: center;
}