*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


tr, td, th{
    border:solid 1px black;
}

.border1{
    border:solid 2px black;
}

table{
    position: absolute;
    width: 500px;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    
}



img{
    width:100px;
    height:100px;
}

td{
    text-align: center;
}

.apple, .nflix{
    font-weight:bold;
}