<<<<<<< HEAD
* {
    margin: 20px;
}

table {
    border: 3px solid gray;
    border-collapse: collapse;
}

td {
    border: 1px solid gray;
    padding: 10px;
}

th {
    border: 1px solid gray;
    padding: 10px;
}

img {
    width: 300px;
    }
=======
table, tr, td{
    border: 2px solid black;
    border-collapse: collapse;
    text-align: center;
}



tr{
    font-weight: bold;
}

img{
    vertical-align: bottom;
    width: 100px;
}

tr:nth-child(odd){
    background: cadetblue;
}
>>>>>>> 1f1240a70de69f80e42381f38fe5f5cf6945b903
