<<<<<<< HEAD
p {
    text-align: justify;
}

h2, h1 {
    text-align: center;
}
.arabic {
    text-align: right;
=======
h1,
h2 {
    text-align: center;
     text-shadow: 10px 10px 10px yellow;

}

p {
    text-align: justify;
    text-transform:lowercase;
   
}

.arabic {
    text-align: right;
    text-decoration: underline;
   
>>>>>>> 67b86d63b5a7f483c338539ddf25515be07ae52a
}