<<<<<<< HEAD
@media screen and (max-width: 576px) {
    main {
        font-family: Raleway;
        font-size: 1.2em;
    }

    li {
        margin: 10px;
    }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
    body {
        background-color: blue;
        color: #fff;
        font-family: Modak;

    }
=======
@media (min-width:0px) and (max-width:576px){
    main {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    background-color: burlywood;
   
>>>>>>> 67b86d63b5a7f483c338539ddf25515be07ae52a
}
}
@media (min-width:577px) and (max-width:992px){
    main {
    font-family: 'Courier New', Courier, monospace;
    font-size: 32px;
    color: crimson;
    background-color: burlywood;
    margin: 30px;
    margin: 20px;
    }
    li {
        margin: 10px;
    }
   
}

@media (min-width:993px){
    main {
    font-family: cursive;
    color: darkmagenta;
    font-size: 30px;
    
}
    body{
        background-color: darksalmon;

<<<<<<< HEAD
@media screen and (min-width: 769px) and (max-width: 992px) {
    body {
        background-color: #000;
        color: #fff;
        font-family: ZCOOL XiaoWei;
        text-align: justify;


    }

    span{
       font-weight: bold;
    }

}
=======
    }
li {
    margin: 10px;
}
}
>>>>>>> 67b86d63b5a7f483c338539ddf25515be07ae52a
