*{
    margin-top:2vh ;
    
    padding:0;
    box-sizing: border-box;
}




.info-1,
.info-2,
.info-3 {
    margin-top:2vh;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    border-radius: 5px;
    color: white;
    display: inline-block;
    padding:25px 15px;
    text-shadow: 1px 1px 1px black;
    width: 33%;
    height:175px;

}

h1 {
    margin:10px;
}


main{
    margin:10px; 
}

.info-1 {
    background-image: url('assets/task2-bg.jpeg');
}

.info-2 {
    background-image: url('assets/task2-bg1.jpeg');
}

.info-3 {
    background-image: url('assets/task2-bg2.jpg');
}

