* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  align-items: stretch;
  border: 2px solid hotpink;
  height: 100vh;

}

div {
  border: 2px dotted chartreuse;
  width: 20%;

}

div:hover {
  animation-name: div;
  animation-duration: 2s;
  animation-iteration-count: infinite;


}

<<<<<<< HEAD
.strobe_1 {
  animation: div;
  background-color: yellow;


}

.strobe_2 {

  background-color: chocolate;

}

.strobe_3 {

  background-color: darkmagenta;

}

.strobe_4 {

  background-color: darkturquoise;

}

.strobe_5 {

  background-color: forestgreen;

}


@keyframes div {
  from {
    opacity: 1;
=======

@keyframes strobe_1 {

  from,
  to {
    background-color: yellow;
>>>>>>> 51ae60c872ce5d59f1711be802ec8c253bd19a09
  }

  50% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadein {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


.strobe_1 {
  background-color: yellow;

}

.strobe_2 {
  background: blue;
}

.strobe_3 {
  background: brown;

}

.strobe_4 {
  background: green
}

.strobe_5 {
  background: palevioletred;

}


div:hover {
  animation-iteration-count: infinite;
  animation-name: strobe_1;
  animation-duration: 3s;
}