* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  align-items: stretch;
  border: 2px solid hotpink;
  height: 100vh;

}

div {
  border: 2px dotted chartreuse;
  width: 20%;

}

div:hover {
  animation-name: div;
  animation-duration: 2s;
  animation-iteration-count: infinite;


}

.strobe_1 {
  animation: div;
  background-color: yellow;


}

.strobe_2 {

  background-color: chocolate;

}

.strobe_3 {

  background-color: darkmagenta;

}

.strobe_4 {

  background-color: darkturquoise;

}

.strobe_5 {

  background-color: forestgreen;

}


@keyframes div {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}