.burger{
    /* height: px; */
    width:40px;
}

.burger li{
    height:5px;
    width:35px;
    background:black;
    margin:3px;
}

.burger:hover.burger li{
    background:red;

}

.burger li:hover p{
    color:yellow;
}