*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}


.burger{
    width:40px;
    height:20px;
}

.burger li{
    height:5px;
    width:35px;
    background:black;
    margin:3px;
}

.burger:hover.burger li{
    background:red;
}

#wrap{
    /* display:none; */
    opacity:0.9;
    background:black;
    color:white;
    position:absolute;
    top:-100%;
    width:100%;
    height:100%;
    
 }


.mainmenu{
    font-size:2em;
    display:block;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%)
}

.mainmenu li{
    list-style-type: none;
    padding: 5px;
}

.mainmenu li:hover {
    opacity:0.6;
    padding-bottom:25px;
}

.mainmenu li:hover .submenu{
    display:block;
 }



.submenu{
   position:absolute;
    left:90px;
    top:0;
    display:none;
 }

.submenu li{
    width:220px;
    padding-left:30px;
    

}


p{
    position:absolute;
    right:30px;
    top:10px;
    font-size:40px;
    
    color:white;
    z-index:1;
}

p:hover{
    opacity:0.6;
}









#burger {
    visibility: hidden;
    position:absolute;
    top:0;
    left:0;
    height:20px;
    width:40px;
}

#burger:checked + label ~ section {
    /* display:block; */
    top:0;
}


#X {
    visibility: hidden;
    position:absolute;
    right:30px;
    top:10px;
    height:20px;
    width:40px;
}

#X:checked + label ~ section {
    /* display:none; */
    top:-100%;
}



/* #X:checked + label  {
    location.reload(true);
} */