/* Use flexbox to display all divs in a column in reverse order on the center of the page. */
body {
    align-items: center;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;  
}
div {
    background-color: darkgray;
    border: 2px solid red;
    height: 100px;
    margin: 1em;
    text-align: center;
    width: 150px;
}