/* Use flexbox to display all divs in a column in reverse order on the center of the page. */

div {
    height: 100px;
    width: 150px;
    background-color: darkgray;
    margin: 1em;
    border: 2px solid red;
    text-align: center;
}

<<<<<<< HEAD
body {
    align-items: center;
    display: flex;
    flex-direction: column-reverse;
=======
body{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-content: center;
>>>>>>> 51ae60c872ce5d59f1711be802ec8c253bd19a09
}