* {
   
    padding:0;
    margin:0;
}


body{
    height:100vh;
}

header{
    display:flex;
    justify-content: center;
    margin:5px;
    width:80%;
    border:black solid 1px;
    background:yellow;
    height:150%;
   
}


main{
    display:flex;
    background:green;
    width:60%;
   
}

section{
    color:white;
    background:black;
    
   
}