body {
    word-wrap: break-word !important;
    font-family: 'Arapey', serif;
    margin: 0;
    padding: 0;
}

#container {
    margin: 0 auto;
}

nav {
    background-color: black;
    margin-top: 20px;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
}

nav ul li {
    display: inline-block;
    background-color: black;
}

nav a {
    display: block;
    padding: 0px 10px;
    color: #FFF;
    font-size: 20px;
    line-height: 60px;
    text-decoration: none;
}

nav a:hover {
    background-color: darkred;
}

nav ul ul {
    display: none;
    position: absolute;
    top: 60px;
    left: 0px;
}

nav ul li:hover>ul {
    display: inherit;
}

nav ul ul li {
    width: 200vh;
    float: none;
    display: list-item;
    position: relative;
    background-color: darkred;
    border: 1px solid black;
}

.drop a:hover {
    transition: 1s ease-in-out;
    background: white;
    color: black;
    font-size: 30px;
}