* {
    font-family: Arapey;
    /* fonsts backup */
    box-sizing: border-box;
    
}

main {
    position: absolute;
    width: 75%;
    left: 20%;
    height: 100%;
    overflow: scroll;
}

.main-content {

    box-shadow: 1px 1px 5px 1px black;
    padding: 30px;
    margin:30px;
}

h1 {
    text-align: right;
    font-size: 2.5em;
}

.pagenr {
    text-align: center;
    transform: translate(0, 150%);
}

h5 {
    text-transform: uppercase;
    margin-bottom: 30px;
}

section {
    line-height: 35px;
}

/* Navigation Menu */
header {
    position: absolute;
    width: 10%;
    border: 1px solid black;
    height: 100%;

}

header li {
    list-style-type: none;
}

header ul {

    margin-top: 200px;
}

header a {
    display: block;
    text-decoration: none;
    padding: 5px;
    font-family: 'Montserrat', sans-serif;
}

.active {
    text-decoration: underline;
    font-size: 1.4em;
}

span {
    font-weight: bold;
}
.fa-arrow-circle-up {
    position: fixed;
    font-size: 4em;
    bottom: 5px ;
    left: 250px;
    color: black;
    opacity: 0.3;
}
i:hover {
    opacity: 1;
}

