* {
    font-family: Arapey;

}

.main-content {
    margin: 0 auto;
    width: 80%;
    height: 90%;
    box-shadow: 1px 1px 5px 1px black;
    padding: 30px;
    margin-bottom: 40px;
}

h1 {
    text-align: right;
    font-size: 2.5em;
}

.pagenr {
    position: relative;
    text-align: center;
    transform: translate(0%, 150%);
}

h5 {
    text-transform: uppercase;
    margin-bottom: 30px;
}

section {
    line-height: 35px;
}