table {
    border: 1px solid#dcdcdc;
    border-collapse: collapse;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
    font-size: 20px;

}

td:nth-child(3) {
    text-align: right;
}

.blah {
    text-align: right;
}

tr:nth-child(even),
tfoot {
    background-color: #dcdcdc;
}