table {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

tbody tr:nth-child(2n+1) {
    background-color: #dcdcdc;
}

thead {
    text-align: center;
    font-weight: 800;
    padding: 7px;
}

table,
tr {
    border: 1px solid #dcdcdc;
    border-collapse: collapse;
}

td {
    text-align: left;
    padding: 5px;
}
tr td:last-child{
    text-align: right;
}
