table,
tr,
td {
    border: 1px solid #DBDBDB;
    border-collapse: collapse;
    width: 1250px;
    margin-left: 15px;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;

}

.start {
    text-align: center;
    font-weight: bold;
}

.amount {
    text-align: end;
}

tr:nth-child(even) {
    background-color: #DCDCDC
}