* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;

}

 
body{
    overflow: hidden;
}


main {
    position: absolute;
    width: 65%;
    height: 100%;
    overflow: scroll;
    left:30%;
    top:25%;
   
}


section {
    box-shadow: 1px 1px 5px 2px black;
    font-family: 'Arapey', serif;
    line-height: 2em;
    padding:20px;
    margin:20px;
    
   }



h1 {
    margin-bottom: 1.5em;
    font-size: 3em;
    direction:rtl;
    line-height:1em;

}

h2 {
    font-size: 0.8em;
    margin-bottom: 2.5em;
}


.pgnr  {
     margin: 5em 50% 0 50%;
   
}




.bold {
    font-weight: bold;
    font-size:20px;

}

.italic {
    font-style: italic;
}






nav {
    position:absolute;
    height: 100%;
    width: 20%;
    font-family: 'Montserrat', sans-serif;
    left:3%;
    top:35%;
    



}

#menu-title, h2 {
    font-weight: bold;
}

#menu-title {
    text-decoration: underline;
    font-size: 2em;

}

ul {
    list-style: none;
    line-height: 40px;


}

 a {
    text-decoration: none;
    color: black;
}