img {
    width: 100%;
}

.container {
    display: grid;
<<<<<<< HEAD
    
    /* grid-auto-columns:1fr 1fr 1fr ;
    grid-auto-rows:1fr 1fr 1fr ;
    grid-gap: 5px;*/
    grid-template-columns: minmax(100px, 350px) 1fr minmax(100px, 350px);
    
  
    grid-gap: 10px;

} 



=======
    /*grid-template-columns: 33.33% 33.33%, 33.33%*/
    grid-template-columns: minmax(100px, 350px) 1fr minmax(100px, 350px);
    grid-template-rows: 1fr;
    grid-gap: 10px 10px;
}
>>>>>>> 1f1240a70de69f80e42381f38fe5f5cf6945b903
