* {
    margin: 0;
    padding: 0;
}
body {
    background: url(/menu/img/arm-wrestling-567950_1920.jpg) no-repeat;
    background-size: cover;
}
nav {
    width: 100%;
    height: 60px;
    background-color: black;
}
nav p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: white;
    line-height: 55px;
    padding: 0px 20px;
    float: left;


}
nav ul {
    float: left;

}
nav ul li {
    float: left;
    list-style: none;
    position: relative;
    

}
nav ul li a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: white;
    line-height: 55px;
    padding: 22px 13px;
}
nav ul li ul {
    display: block;
    position: absolute;
    background-color: black;
    padding: 10px;
}
nav ul li ul li a {
    padding: 0px 1px;
}

nav ul li a:hover {
    background-color: burlywood;
    
}
nav ul li ul li a:hover {
    display: block;
    background-color: burlywood;
}