body {
    margin: 0 auto;
}

.list-group-item-action:hover {
    background-color: #0469d9;
    color: white;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    margin: 20px;
}

.collapse, .alert, .alert-primary {
    margin: 20px;
}

h1 {
    text-align: center;
}
