// This is where your styles can go, import any other scss or css files here or write your own style directly below
*{
  font-family: 'Orbitron', sans-serif;
font-family: 'Roboto', sans-serif;
}
body
 {
  box-sizing: border-box;
  background-image: url('../images/beach.jpg')
}

p {
  text-align: left;
  font-size: 30pt;
  color: yellow;
  text-shadow: 2px 2px 2px black;
  margin-top: 5pt;
  background: transparent;
}

.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background:transparent;
  overflow-x: hidden;
  padding-top: 20px;
  padding-left: 5pt;
}

#summer {
  font-size: 40pt;
  text-align: center;
  background-color: none;
  color: white;
  text-shadow: 1px 1px 1px black;
}

footer {margin-top:450px;
  background-color:transparent;
  width: 100%;
  height: 60pt;
}

button {
  border-radius: 5%;
  background-color: purple;
  height:50pt;
  margin: 0 auto;
  width:150pt;
  margin-left: 400pt;
  color:whitesmoke;
  font-size: 20pt;
}
