/* Use flexbox to display all divs in a row at the bottom of the container. Make the divs only take up one line */

body {
    align-items: flex-end;
    border: 5px solid red;
    display: flex;
<<<<<<< HEAD
    height: 800px;
    flex-direction: row;
=======
    align-items:flex-end;

>>>>>>> 67b86d63b5a7f483c338539ddf25515be07ae52a
}

div {
    height: 100px;
    width: 150px;
    background-color: darkgray;
    margin: 1em;
    border: 2px solid red;
    text-align: center;
}