* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 1%;
    background: black;
}


/* #container {
    display:flex;
    justify-content: center;
    align-items: center;
    background:red;
    width:100%;
    height: 100%;
    border:5px solid black;
    
} */

#carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1920px;
    height: 1080px;
    background-image: url(alpaca1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}


#rightArrow,
#leftArrow {
    display:flex;
    align-items: center;
    height: 100%;
    width: 15%;
    background-color: black;
    position: fixed;
    opacity: 0.7;
}

#leftArrow {
    
    left: 0;
}

#rightArrow {
    right: 0;
}

#leftArrow p, #rightArrow p{
    margin-left:-20%;
    color:red;
    font-size: 15rem;
    
   
}


/* #img2,#img3,#img4,#img5,#img6{
   display:none;
}  */