// This is where you can import other stylesheets or write your scss code
@import "../../node_modules/bootstrap/scss/bootstrap";

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

header>p {
    margin: 10px;
    color: #6792B9;
}

#imageSection {
    text-align: center;
    background: url(../images/header.jpg);
    height: 60vh;
}

#imageSection>h1 {
    padding: 15px;
}

img {
    width: 100%;
    border-radius: 5px;;
}
.cardMountain, .cardSurfer, .cardTree {
    margin: 15px 10px;
    background-color: #D9E6AE;
    padding: 15px;
    border-radius: 10px;
}

.container>h4 {
    padding-top: 15px;
}



