// This is where you can import other stylesheets or write your scss code


h2 {
    text-align: center;
}

#menu {
    background: url(../images/header.jpg);
    height: 17em;

    a {
        color: #016690;
    }
}

ul {
    list-style-type: none;
    background: white;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

    li {
        position: relative;
        left: -8%;
        display: inline;



    }

    a {
        text-decoration: none;
    }
}

.container-1,
.container-2,
.container-3 {
    background: #e0ddb2;
    padding: 4%;
    margin: 5%;
    border-radius: 2%;

    img {
        width: 94%;
        margin-left: 1%;
    }
}

aside,
article {
    width: 86%;
    margin-left: 3.5%;

    padding: 2%;
}

aside {
    border: 1px solid #dad6ab;
}

article {
    h2 {
        text-align: left;
    }
}

#last {

    background: #016690;
    padding: 4%;

    a {
        color: white;
    }

    li {
        position: relative;
        left: -2%;




    }
}

@media screen and (min-width:768px) and (max-width:1024px) {


    ul {
        list-style-type: none;
        background: white;
        justify-content: flex-end;

        li {
            position: relative;
            margin: 2%;
            left: 2%;



        }

        a {
            text-decoration: none;
        }
    }

    .container-1,
    .container-2,
    .container-3 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        background: #e0ddb2;
        padding: 4%;
        margin: 5%;
        border-radius: 2%;
        height: 220px;

        img {
            width: 10em;
            margin-left: 1%;
            height: 13em;
        }

        p {
            grid-column: 2 /-1;
            position: relative;
            top: -10em;
        }

    }

    .grid {
        display: flex;
        flex-flow: row wrap;

        aside {
            flex-basis: 13%;
        }

        article {
            flex-basis: 48%;
        }
    }

    #last {
        display: flex;
        justify-content: center;

        ul {
            list-style-type: none;
            background: white;


            li {
                position: relative;
                margin: 2%;
                left: 2%;



            }

            a {
                text-decoration: none;
            }
        }
    }

}

@media screen and (min-width:1025px) {

    .grid {
        display: flex;
        flex-flow: row wrap;

        aside {
            flex-basis: 13%;
        }

        article {
            flex-basis: 48%;
        }
    }


    .grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);

        .container-1,
        .container-2,
        .container-3 {

            display: grid;
            grid-template-columns: repeat(3, 1fr);
            background: #e0ddb2;
            padding: 4%;
            margin: 5%;
            border-radius: 2%;
            height: 220px;
        }

        img {
            width: 10em;
            margin-left: 1%;
            height: 13em;
        }

        p {
            grid-column: 2 /-1;
            position: relative;
            top: -10em;
        }

        .container-3 {
            position: relative;
            top: -10%;
            left: 50%;
        }

    }

    ul {
        list-style-type: none;
        background: white;
        justify-content: flex-end;

        li {
            position: relative;
            margin: 2%;
            left: 2%;



        }

        a {
            text-decoration: none;
        }
    }

    #last {
        display: flex;
        justify-content: center;

        ul {
            list-style-type: none;
            background: white;


            li {
                position: relative;
                margin: 2%;
                left: 2%;



            }

            a {
                text-decoration: none;
            }
        }
    }


}