* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h4 {
    margin-top: 10px;
}

#main {
    width: 70%;
    height: 60vh;
    position: relative;
    margin: 30px auto;
    border: 0.1px solid rgb(199, 197, 197);


    /* text-align: center; */
}

.header {
    background-color: rgba(231, 231, 22, 0.835);
}

h1 {
    /* background-color: yellow; */
    text-align: center;
    width: 60%;
    margin: 0 auto;
}

.simpleCalculation {
    position: absolute;
    font-family: monospace;
}

input {
    width: 25%;
    margin: 5px;
    margin-left: 10px;
    outline: none;
    border: 0.5px solid rgb(197, 197, 197);
    box-shadow: 0 0 4px rgb(179, 180, 177);
    text-align: right;
}

input[type=number]:focus {
    text-shadow: 0 0 3p rgb(212, 27, 27);
}