
header{
    text-align: center;
}

body{
    margin: 
}

.diff {
    text-align: center;
}


.a1 {
    display:inline-block;
    width: 60%;
    
}

.a2 {
    display:inline-block;
    width: 30%;
    margin-left: 2%;
    
}

h1{
    font-size: 3em;
}

h2 , h3, h4 {
    text-decoration:underline;
    font-size: 1.5em;
    font-weight: bold;
    
}

h4 {
   
    font-size: 1em;
    
    
}

hr {

border: 1px solid gray;
}

