.band-history {
    display: inline-block;
    width: 63%;
}

.discography {
    display: inline-block;
    width: 33%;
}

header,
img {
    background-color: black;
    display: block;
    margin: 0 auto;
}

h1 {
    color: #FFFFFF;
    text-align: center;
}

h2,
h3 {
    text-decoration: underline;
}

hr {
    border: 2px dotted darkgrey;
}