@media (min-width:0px) and (max-width:375px){
 body {
    height: 100vh;
<<<<<<< HEAD
    border: 10px solid black;

}

@media screen and (max-width: 375px) {
    body {
        border: 10px solid red;
    }
}

@media screen and (min-width: 376px) and (max-width:425px) {
    body {
        border: 10px solid blue;
    }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
    body {
        border: 10px solid green;
    }

    h3 {
        display: none;
    }

}

@media screen and (min-width: 769px) and (max-width:1024px) {
    body {
        border: 10px solid yellow;
        background-color: lawngreen;
    }

}

@media screen and (min-width: 1025px) and (max-width:1440px) {
    body {
        border: 10px solid hotpink;
    }
}


=======
    border: 10px solid red;
     }
 }

@media (min-width:376px) and (max-width:425px){
    body{
        border: 10px solid  blue;
    }
}
@media (min-width:426px) and (max-width:768px){
    body{
        border: 10px solid green;
    }
}
@media (min-width:769px) and (max-width:1024px){
    body{
        border: 10px solid  yellow;
    }
}
@media (min-width:1025px) and (max-width:1440px){
    body{
        border: 10px solid  hotpink;
    }
}
>>>>>>> 1f1240a70de69f80e42381f38fe5f5cf6945b903
main {
    margin: 15px;
    font-family: sans-serif;
    font-size: 20px;
}

li {
    margin-bottom: 5px;
}