/* Use flexbox to align the divs in a row. Reverse the order of the divs. */

body {
    display: flex;
    flex-direction: row-reverse;
}

div {
    background-color: darkgray;
    border: 2px solid red;
    height: 100px;
    margin: 1em;
    text-align: center;
    width: 150px;
}