html,
body {
    margin: 0;
    padding: 0;
    
}
<<<<<<< HEAD
<<<<<<< HEAD

.genres {
    display: flex;
    flex-grow: 10;
    flex-wrap: wrap;
}

.genres>section { 
    align-items: center;
    display: flex;   
    height: 100px;
    justify-content: center;    
=======
=======


>>>>>>> 51ae60c872ce5d59f1711be802ec8c253bd19a09
.genres {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    
    
}

.genres > section{
    width: 500px ;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
<<<<<<< HEAD
>>>>>>> a59ed8ec6c32174d5536f036e4e25a58256bea0f
    width: 500px;
=======
    flex-grow: 1;
>>>>>>> 51ae60c872ce5d59f1711be802ec8c253bd19a09
}


<<<<<<< HEAD
#thriller {
<<<<<<< HEAD
    background: grey;
=======
    background: rgb(190, 178, 178);
>>>>>>> a59ed8ec6c32174d5536f036e4e25a58256bea0f
    flex-grow: 10;
}

#comedy {
<<<<<<< HEAD
    background: yellow;
=======
    background: rgb(255, 214, 30);
>>>>>>> a59ed8ec6c32174d5536f036e4e25a58256bea0f
=======
#ac{
    background-color: dodgerblue;
    
}
#th{
    background-color:rgb(190, 178, 178);
    flex-grow: 10;
}
#com{
    background-color:rgb(225, 214, 30);
>>>>>>> 51ae60c872ce5d59f1711be802ec8c253bd19a09
    flex-grow: 10;
}
#ho{
    background-color:black;
    color: white;
}
#dra{
    background-color: darkgray;
}
#rom{
    background-color:red
}