html,
body {
    margin: 0;
    padding: 0;
    
<<<<<<< HEAD

}
.genres { 
    display: flex;
    flex-wrap: wrap;
    

}

.action, .thriller, .comedy, .horror, .drama, .romance {
    width: 500px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}
.action {
    background-color: dodgerblue;

}
 .thriller {
    background-color: rgb(190, 178, 178);
    flex-grow: 10;
 }
  .comedy {
    background-color: rgb(255, 214, 30);
    flex-grow: 10;
  }
   .horror {
    background-color: black;
    color: white;
   }
    .drama {
        background-color: darkgray;
    }
     .romance {
        background-color: red;
     }
=======
}
>>>>>>> 67b86d63b5a7f483c338539ddf25515be07ae52a


.genres {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    
    
}

.genres > section{
    width: 500px ;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}


#ac{
    background-color: dodgerblue;
    
}
#th{
    background-color:rgb(190, 178, 178);
    flex-grow: 10;
}
#com{
    background-color:rgb(225, 214, 30);
    flex-grow: 10;
}
#ho{
    background-color:black;
    color: white;
}
#dra{
    background-color: darkgray;
}
<<<<<<< HEAD

.romance {
    background: red;
}
=======
#rom{
    background-color:red
}
>>>>>>> 67b86d63b5a7f483c338539ddf25515be07ae52a
