/* * {
    padding: 0px;
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    color: white;
}

.thumbnail {
    background: #000;
    color: white;
    height: 80%;

}

.movie-title {
    background: #1a1a1a;
    color: white;
    height: 20%;
}

aside {
    background: white;
    color: black;
    align-items: space-around;
}

nav, main {
    display: flex;
    background: #4b4b4b;
}

header {
    background: #000;
}

nav {
    justify-content: center;
    color: white;
}

figure {
    text-align: center;
    height: 130px;
    width: 150px;
}

figure {
    width: 33.33%;
    margin: 15px;
    flex-direction: row;
}

article {
    background: #4b4b4b;
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    align-items: justify;
}

main {

}

body {
        background: #1a1a1a;

} */


* {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

<<<<<<< HEAD
<<<<<<< HEAD
article {
    display: flex;
    flex-wrap: wrap;
    padding-left: 10px;
}

body {
    padding: 0 270px;
    background-color: black;
}

header {
    color: white;
    background-color: black;
    display: block;
    width: 50%;
}

nav {
    color: white;
    background-color: #4b4b4b;
    display: flex;
    justify-content: center;
    width: 80%;
}

nav>h4 {
    padding: 5px;
}

main {
    background-color: #4b4b4b;
    display: flex;
    width: 80%;
}

aside {
    color: black;
    background-color: white;
    display: flex;
    flex-direction: column;
}

aside>p {
    padding: 5px 15px;
}

figure {
    display: inline-block;
    height: 130px;
    margin: 15px;
    width: 130px;   
}

.thumbnail {
    align-items: center;
    display: flex;
    background: #000;
    color: white;
    height: 80%;
    justify-content: center;
}

.movie-title {
    align-items: center;
    background: #1a1a1a;
    color: white;
    display: flex;
    height: 20%;
    justify-content: center;
}
=======
=======
h1{
    background: black;
    color: white;
}
body{
    background:#1a1a1a;
}
.genres{
    display: flex;
    justify-content:center;
    color: white;
    margin-top: 30px;
    
}
.genres2{
    display: flex;
    
    background: white;
    flex-direction: column;
    width: 8%;
    height: 100vw;
   
}
.thumbnail{
    display: flex;
    flex-wrap: wrap;
    color: white;
    flex-direction: row;
    
    
    
}
.thumbnail1, 
.thumbnail2, 
.thumbnail3, 
.thumbnail4, 
.thumbnail5, 
.thumbnail6{
     height: 140px;
     background:black;
     color: white;
     width: 150px;
     text-align: center;
     margin: 0, auto;
}
    

>>>>>>> 51ae60c872ce5d59f1711be802ec8c253bd19a09
body {
    background: #1a1a1a;
    color: white;
    padding: 0 200px;
}

header {
    background: black;
    padding: 20px;
}

ul {
    list-style-type: none;
}

nav,
section {
    background: #4b4b4b;
}

nav ul {
    justify-content: center;
}

li {
    margin: 20px;
}

div,
section,
nav ul {
    display: flex;
}

aside {
    background: white;
    color: black;
}

section {
    flex-wrap: wrap;
    flex: 1;
}

figure {
    padding: 20px;
}

figcaption {
    background: #1a1a1a;
    padding: 5px 0 5px 15px;
    margin-top: -4px;
}
<<<<<<< HEAD
>>>>>>> c39cf0ea924efe36b2405294c9e9697dca8ac57e
=======
>>>>>>> 51ae60c872ce5d59f1711be802ec8c253bd19a09
