* {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
<<<<<<< HEAD
body {
    background: #1A1A1A;
    color: white;
    padding: 0 200px;
}
=======

h1{
    background: black;
    color: white;
}
body{
    background:#1a1a1a;
}
.genres{
    display: flex;
    justify-content:center;
    color: white;
    margin-top: 30px;
    
}
.genres2{
    display: flex;
    
    background: white;
    flex-direction: column;
    width: 8%;
    height: 100vw;
   
}
.thumbnail{
    display: flex;
    flex-wrap: wrap;
    color: white;
    flex-direction: row;
    
    
    
}
.thumbnail1, 
.thumbnail2, 
.thumbnail3, 
.thumbnail4, 
.thumbnail5, 
.thumbnail6{
     height: 140px;
     background:black;
     color: white;
     width: 150px;
     text-align: center;
     margin: 0, auto;
}
    

body {
    background: #1a1a1a;
    color: white;
    padding: 0 200px;
}

>>>>>>> c24e71619983d1513bce1ba14277693e887b63fa
header {
    background: black;
    padding: 20px;
}
<<<<<<< HEAD
ul {
    list-style-type: none;
}
nav,
section {
    background: #4B4B4B;
}
nav ul {
    justify-content: center;
}
li {
    margin: 20px;
}
=======

ul {
    list-style-type: none;
}

nav,
section {
    background: #4b4b4b;
}

nav ul {
    justify-content: center;
}

li {
    margin: 20px;
}

>>>>>>> c24e71619983d1513bce1ba14277693e887b63fa
div,
section,
nav ul {
    display: flex;
}
<<<<<<< HEAD
=======

>>>>>>> c24e71619983d1513bce1ba14277693e887b63fa
aside {
    background: white;
    color: black;
}
<<<<<<< HEAD
=======

>>>>>>> c24e71619983d1513bce1ba14277693e887b63fa
section {
    flex-wrap: wrap;
    flex: 1;
}
<<<<<<< HEAD
figure {
    padding: 20px;
}
figcaption {
    background: #1A1A1A;
    padding: 5px 0 5px 15px;
    margin-top: -4px;
    text-align: center;
}
=======

figure {
    padding: 20px;
}

figcaption {
    background: #1a1a1a;
    padding: 5px 0 5px 15px;
    margin-top: -4px;
}
<<<<<<< HEAD
>>>>>>> c24e71619983d1513bce1ba14277693e887b63fa
=======
>>>>>>> 67b86d63b5a7f483c338539ddf25515be07ae52a
