.boxes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 200px);
    border: 2px solid rgb(230, 6, 238);

}
section {
       border: 2px solid rgb(9, 44, 160);
}
.number2 {
    grid-column: 2 / span 2;
    background-color: green;
}
.number6 {
    grid-column: 3 / span 2 ;
    background-color: indigo;
}
.number9 {
    grid-row: 3 / span 2;
    grid-column: 2;
    background-color: orange;
}

.number12 {
    background-color: rgb(231, 4, 220);
    grid-row: 3 / span 2;
    grid-column: 4;
}