


.container {
    display: grid;
    grid-template-columns: repeat(4,1fr) ;
    grid-template-rows: repeat(4,1fr);
    border:2px blue solid;

}
 

section{
    height:25vh;
    text-align: center;
    border: 2px solid blue;
}