* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    margin: 0 auto;
    width: 70vw;
}

.dropbtn {
    width: 240px;
    background-color: rgb(233, 157, 35);
    color: white;
    padding: 16px;
    font-size: 16px;
    cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
    background-color: rgb(223, 194, 65);
}

.dropdown {
    display: inline-block;
}

.dropdown-list {
    display: none;
    position: absolute;
    text-align: left;
    background-color: #e0e0e0;
    width: 240px;
}

.dropdown-list a {
    color: black;
    padding: 12px 16px;
    display: block;
}

.dropdown a:hover {
    background-color: rgb(204, 204, 204);
}

.show {
    display: block;
}

.header {
    background-color: black;
    color: white;
    font-size: 3em;
    text-align: center;
    padding: 15px;
}