<<<<<<< HEAD
/* First solution */
/* tr:nth-child(2n+1) td:nth-child(1) {
    border-left: 3px solid #cc181b;
}

tr:nth-child(2n) td:nth-child(1) {
    border-left: 3px solid #449d45;
}
=======
>>>>>>> 67b86d63b5a7f483c338539ddf25515be07ae52a

td {
    border-left: 3px solid #c0c0c0;
}

<<<<<<< HEAD
td,
tr:nth-child(2n) td:nth-child(1),
tr:nth-child(2n+1) td:nth-child(1) {
    padding: 7px;
} */
/*-------------------------------------------*/
 /* Second solution */
/* td:first-child{
    border-left: 3px solid #cc181b;
}
tr:not(:nth-child(2n+1)) td:first-child{
    border-left: 3px solid #449d45;
}
td{
    border-left: 3px solid #c0c0c0;
    padding: 7px;
} */
/*---------------------------------------*/





=======
td:first-child {
    border-left-color:  #cc181b;

}

tr:nth-child(even) td:first-child {
    border-left-color: green;
}
>>>>>>> 67b86d63b5a7f483c338539ddf25515be07ae52a
