/* Use flexbox to align all divs in a row. Use wrap so that the divs appear on multiple rows. Center the rows in the container*/
body{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

div {
    height: 100px; 
    background-color: darkgray;
    border: 2px solid red;
<<<<<<< HEAD
    margin: 1em;
    text-align: center;
    width: 200px;
=======
    text-align: center;
   
}

body{
    display: flex;
    flex-wrap: wrap;;
>>>>>>> 67b86d63b5a7f483c338539ddf25515be07ae52a
}