h1 {
  text-align: center;
  padding: 1em;
  margin-bottom: 1em;
}

.flex-box-container {
  display: flex;
  justify-content: space-evenly;
  height: 250px;
}

.card {
  text-align: center;
  display: flex;
  flex-direction: column;
}

a {
  font-size: 2em;
  color: black;
  text-align: end;
  display: block;
  width: 20%;
  align-self: flex-end;
  margin-right: .3em;
}

a:hover,
a:focus {
  color: white;
}

.color-code {
  font-size: 2rem;
  margin-top: 1.3em;
}