<<<<<<< HEAD
* {color: red;
    background-color: black;
    text-align: center;
}

#create {
    width: 25%;
    height: 10vh;
    outline: none;
    border: none;
    background-color: aqua;
    border-radius: 300px 0;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
}

input[type="text"] {
    width: 2%;
    height:3vh;
    font-size: 1.5rem;
    border-radius: 50px;
    outline: none;
    border: 1px solid grey;
    padding: 4px;
}

input[type="text"]:hover {
    box-shadow: 0 2px 20px 2px rgb(221, 7, 7);
}

#create:hover {
    font-size: 2.5rem;
    border-radius: 0 300px;
}

#squareArea {
    width: 80%;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.quote {
    width: 10%;
    height: 22vh;
    margin: 15px;
    box-shadow: 0 2px 45px 5px rgb(236, 2, 2);
    display: block;
    color: black;
    text-shadow: 3px 3px 4px white;
    margin-top: 30px;
    font-size: 1.5rem;
    line-height: 100px;
 }
=======
* {
    font-size: large;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    font-size: x-large;
}

h2 {
    color: rgb(100, 100, 100);
}

.container {
    padding: 50px;
}

#colorPallette {
    display: grid;
    grid-template-columns: 250px 250px 250px;
    grid-auto-rows: 200px;
    padding: 50px;
    width: 750px;
    margin: auto;
}

.pallette {
    width: 200px;
    height: 80px;
    margin-left: 25px;
    margin-right: 25px;
    border-radius: 5px;
    color: rgb(236, 236, 236);
    padding-top: 60px;
}

#numFields {
    border-radius: 5px;
    border: solid rgb(110, 109, 109) 1px;
    padding: 5px;
}

#btn {
    border-radius: 5px;
    border: solid rgb(120, 211, 84) 1px;
    padding: 5px;
    background-color: limegreen;
    color: linen;
}

#btn:focus {
    outline: none;
}
#numFields:focus {
    outline: none;
} 
>>>>>>> b54d375f3c088fb244f79043840ef3bac0c41a6b
