#colors{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

#submit{
    background:orange;
    color:white;
    border:none;
    border-radius: 5px;
    height:2.5em;
    width:6rem;
}


#number{
    height:2.2em;
    border-radius :5px;
    
}

.color{      
    margin:10px;
    width:30vw;
    height:20vh;
    margin:5px;
}

.close{
    position:relative;
    right:-90%;
    top:-2%;
    background:darkgrey;
    border-radius: 2px;
    width:1rem;
    height:1em;
    font-size: 1rem;
    font-weight: bold;
    color:white;
    text-align: center;
}

.close:hover{
    background:grey;
    cursor: pointer;
}




