/* Use flexbox to display all divs in one column in the center of the page.*/

body {
    align-items: center;
    border: 5px solid red;
<<<<<<< HEAD
    display: flex;
    flex-direction: column;
=======
    flex-direction: column;
    display: flex;
    height: 200vh;
    align-items: center;
>>>>>>> 67b86d63b5a7f483c338539ddf25515be07ae52a
}

div {
    background-color: darkgray;
    border: 2px solid red;
    height: 100px;
    margin: 1em;
    text-align: center;
    width: 150px;
}