/* Use flexbox to display all divs in one column in the center of the page.*/

body {
    align-items: center;
    border: 5px solid red;
<<<<<<< HEAD
    display: flex;
    flex-direction: column;
=======
    flex-direction: column;
    display: flex;
    height: 200vh;
    align-items: center;
>>>>>>> 51ae60c872ce5d59f1711be802ec8c253bd19a09
}

div {
    border: 2px solid red;
    background-color: darkgray;
    height: 100px;
    margin: 1em;
    text-align: center;
    width: 150px;
}