*{
    margin: 0;
    padding: 0;
}
body {
    background-image: url(onlayn-poker-texas-holdem-strategiya-1.jpeg);
    background-size: cover;
background-repeat: no-repeat;  


}
.date {
    position: relative;
    margin: 10rem auto;
    background-color: rgba(236, 236, 236, 0.487);
   padding: 10px;
    width: 40%;
    height: 13rem;
    text-align: center;
    border-radius: 30px;
    text-shadow: 2px 3px 3px bisque;
}
form {
    position: relative;
    margin-top: 20px;
}