<<<<<<< HEAD
.secs {

    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    background-color: black;

}



.num1,
.num2,
.num3,
.num4,
.num5,
.num6,
.num7 {

    width: 300px;
    height: 100px;
    flex-grow: 1;


}

.num1 {
    background-color: purple;
    width: 50%;
}

.num2 {
    background-color: rebeccapurple;
    width: 50%;
}

.num3 {
    background-color: darkorchid;
    width: 33.3%;
}

.num4 {
    background-color: green;
    width: 33.3%;
}

.num5 {
    background-color: yellow;
    width: 33.3%;
}

.num6 {
    background-color: orange;
}

.num7 {
    background-color: red;
}

@media screen and (max-width: 599px) {

    .num1,
    .num2,
    .num3,
    .num4,
    .num5 {
        width: 100%;
    }


}

@media screen and (max-width: 900px) and (min-width: 600px) {

    .num1,
    .num2,
    .num6,
    .num7 {
        width: 100%;
=======
/* mobile first */
body {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
}

section {
    height: 100px;
    width: 100%;
}

.first {
    background: #8A0081;
}

.second {
    background: #A300E6;
}

.third {
    background: #6B00FF;
}

.fourth {
    background: #009200;
}

.fifth {
    background: #EDFF00;
}

.sixth {
    background: #FE9000;
}

.seventh {
    background: #FF0000;
}

@media screen and (min-width: 601px) {
    /* div {
        display: flex;
        width: 100%;
    } */

    .third,
    .fourth,
    .fifth {
        width: 33.33%
    }
}

@media screen and (min-width: 801px) {
    /* body {
        flex-direction: row;
    } */

    section {
        width: 50%;
>>>>>>> b0ba84e195ca8ea4fff2cd3be2f6a3ede53d57df
    }
}