<<<<<<< HEAD
<<<<<<< HEAD
html,
body {
    margin: 0;
    padding: 0;

}

.genres {
    display: flex;
    flex-flow: row wrap-reverse;

}

.b1,
.b2,
.b3,
.b4,
.b5,
.b6,
.b7 {
    height: 100px;
    width: 600px;
    flex-grow: 1;
    justify-content: stretch;
}

.b1 {
    background: #960081;

}

.b2 {
    background: #bc00e9;

}

.b3 {
    background: #9300ff;

}

.b4 {
    background: #00a600;

}

.b5 {
    background: #DAFF00;

}

.b6 {
    background: #ff9800;

}

.b7 {
    background: #ff0000;

}

@media only screen and (min-width:400px) and (max-width: 900px) {

    .b1,
    .b2,
    .b6,
    .b7 {
        width: 100%;
    }

    .b3,
    .b4,
    .b5 {

        width: 33%;
    }

}

@media screen and (min-width:901px) and (max-width: 1400px) {

    .b1,
    .b2,
    .b6,
    .b7 {
        width: 50%;
    }

    .b3,
    .b4,
    .b5 {

        width: 33%;
    }
=======
/* mobile first */
body {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
=======
.violet {
    background: violet;
>>>>>>> 51ae60c872ce5d59f1711be802ec8c253bd19a09
}

.purple {
    background: purple;
}

.blue {
    background: blue;
}

.green {
    background: green;
}

.yellow {
    background: yellow;
}

.orange {
    background: orange;
}

.red {
    background: red;
}

.colors {

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.colors section {
    flex-grow: 1;
    height: 100px;
    justify-content: center;

}

@media screen and (min-width: 601px) and (max-width: 800px) {
    .colors {
        display: flex;
        flex-direction: row;
    }

    .violet,
    .purple,
    .orange,
    .red {
        width: 100%;
    }

    .blue,
    .green,
    .yellow {
        width: 33.33%;
    }



}

@media screen and (min-width: 801px) {
    .colors {
        flex-direction: row;
    }

    .violet,
    .purple,
    .orange,
    .red {
        width: 50%;
    }
<<<<<<< HEAD
>>>>>>> b0ba84e195ca8ea4fff2cd3be2f6a3ede53d57df
=======

    .blue,
    .green,
    .yellow {
        width: 33.33%;
    }
>>>>>>> 51ae60c872ce5d59f1711be802ec8c253bd19a09
}