<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> fe6da8d0ca359fe7245fd36cd073bfa75b05b14b
/* My CSS comes here*/

    h1 {
      /*color: red;*/
      color: rgba(255, 0, 0,0.5);
    }
    h2 {
      /*color:  orange;*/
      color: rgb(255, 165, 0);
    }
    h3 {
     /*color:  yellow;*/
     color:rgb(255,255,0);
      }
      h4 {
     /*color:  green;*/
     color: rgb(0,128,0);
      }
    
      h5 {
     /*color:  blue;*/
        color: rgb(0,0,255);
      }
      h6 { 
        /*color:  indigo;*/
        color: rgb(75, 0, 130);
      }
      p {  
          color: #990000;
<<<<<<< HEAD
      }


=======
h1 {
    /* color:red; */
    color:rgb(248, 85, 86, 0.6);
}

h2 {
    /* color:orange; */
    color:rgb(254, 191, 71, 0.7);
}

h3 {
    /* color:yellow; */
    color:rgb(246, 233, 85, 0.4);
}

h4 {
    /* color:green; */
    color:rgb(127, 192, 113, 0.7);
}

h5 {
    /* color:blue; */
    color:rgb(188, 150, 252, 0.8);
}

h6 {
    /* color:indigo; */
    color:rgb(182, 143, 204, 0.8);
}

p {
    color:#9C74E9;
}
>>>>>>> fa5c07b04f3d2686b2693a3dcaea43facfbd9b64
=======
       
      }

>>>>>>> fe6da8d0ca359fe7245fd36cd073bfa75b05b14b
=======
h1 {
    /*color: red;*/
    color: rgba(255, 0, 0, 0.8);

}

h2 {
    /*color: orange;*/
    color: rgba(255, 69, 0, 0.1);
}

h3 {
    /*color:yellow;*/
    color: rgba(255, 255, 0, 0.2);
}

h4 {
    /*color: green;*/
    color: rgba(0, 128, 0, 0.4);
}

h5 {
    /*color: blue;*/
    color: rgba(0, 0, 225, 0.5);
}

h6 {
    /*color: indigo;*/
    color: rgba(75, 0, 130, 0.2);
}

p {
    color: #3cb371;
}
>>>>>>> 51ae60c872ce5d59f1711be802ec8c253bd19a09
