h1 {
    /* color:red; */
    color:rgb(248, 85, 86, 0.6);
}

h2 {
    /* color:orange; */
    color:rgb(254, 191, 71, 0.7);
}

h3 {
    /* color:yellow; */
    color:rgb(246, 233, 85, 0.4);
}

h4 {
    /* color:green; */
    color:rgb(127, 192, 113, 0.7);
}

h5 {
    /* color:blue; */
    color:rgb(188, 150, 252, 0.8);
}

h6 {
    /* color:indigo; */
    color:rgb(182, 143, 204, 0.8);
}

p {
    color:#9C74E9;
}