table {
    margin: 100px auto;

}

tr,
td {
    border-left: 4px solid #C0C0C0;
    padding: 10px;
}

tr:nth-child(even) td:first-child {
    border-left: 4px solid #449D45;
}

tr:nth-child(odd) td:first-child {
    border-left: 4px solid #cc181b;
}