*{color:white;
    list-style-type: none;
 text-align: center;
    background-color: black;
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
 h1{font-size:20pt;}
img{
    border-radius:5%;
   
}