body {
    margin: 0;
}

img {
    width: 100%;
}
h1 {
    text-align: center;
}

li {
    list-style-type: none;
    display: inline-block;
    margin: 50px 100px 100px 10px;
    text-decoration: underline;
}



.discography, .more-info{
    margin-left: 20px;
}