:root {
    --purple-color: purple;
    --black-color: black;
}

.container {
    display: inline-flex;
    background: linear-gradient(yellow, var(--black-color));    width: 500px;
    height: 500px;
}

section {
    align-self: flex-end;
    width: 50px;
    height: 80px;
    background: linear-gradient(var(--purple-color), var(--black-color));
}