body{
    background: url(dffs.jpg);
    height: 1000px;
    background-size: ;
}
.fake-box{
    position: relative;
    height: 300px;
    width: 310px;
    border: 1px solid black;
    margin-bottom: 10px;
    margin-left: 9px;
}



.fake-box:before, .fake-box:after {
    content:"";
    height: 300px;
    width: 310px;
    border: 1px solid black;
    position: absolute;
}

.fake-box:after {
    
    left: 20px;
    top: 20px;
}
.info-box{
    display: inline-block;
    width: 30%;;
    text-align: justify;
    border: 1px solid black;
    margin: 10px;
    margin-top: 25px;
    padding: 4px;
    box-shadow:  5px 5px 9px black;

}
.article1{
    padding: 30px;
}