table {
    margin: 20px;
    width: 75%;
}

td,
th {
    text-align: left;
    padding: 10px;
}

tr:nth-child(odd) {
    background: #c0c0c0;
}

tr:nth-child(even) {
    background: #efefef;
}

thead th {
    background: #888888;
    color: white;
}

tr:nth-child(3n) td:nth-child(2) {
    background: #ffbbbb;
}