td,
th {
    padding: 8px;
    padding-right: 30px;
}

}

thead th {
    background: #888888;
    color: white;

}

tr:nth-child(odd) {
    background: #c0c0c0;
}

tr:nth-child(even) {
    background: #efefef;
}


tr:nth-child(3) td:nth-child(2) {
    background: #ffbbbb;
}

tr:nth-child(6) td:nth-child(2) {
    background: #ffbbbb;
}