* {
  margin: 0;
  padding: 0;
  letter-spacing: 1.2px;
}

body {
  background-color: firebrick;
}

main {
  margin: 4em;
}

div>* {
  margin-bottom: 1em;
}

h1 {
  color: burlywood;
  font-size: 3rem;
  font-weight: 900;
}