body{
    text-align: center;
    background-color: black;
    color: red;

}

#quote {
    font-size: 3rem;
    font-family: 'Special Elite', cursive;
    outline: none;
    margin-top: 10%;
    text-align: center;
    line-height: 70px;
    text-shadow:  3px 2px 8px yellow;
}
#resetButton {
    width: 150px;
    height: 30px;
    margin-bottom: 20px;
    padding: 5px;
    color: white;
    background-color: blue;
    border: none;
    border-radius: 5px;
    cursor: progress;
    outline: none;
}
#icon {
    display: none;
} 