<<<<<<< HEAD
section{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;

}
input, label{
    width: 50%;
    font-size: 20px;
    padding: 20px;
}
button{
    margin: 20px;
    font-size: 20px;
    margin-right: 770px;
    background-color: grey;
    color: white;
    
}
label{
    font-size: 30px;
}
button{
    width: 10%;
    height: 40px;
    align-items: center;
}
=======
body{
    text-align: center;
    background-color: black;
    color: red;

}

#quote {
    font-size: 3rem;
    font-family: 'Special Elite', cursive;
    outline: none;
    margin-top: 10%;
    text-align: center;
    line-height: 70px;
    text-shadow:  3px 2px 8px yellow;
}
#resetButton {
    width: 150px;
    height: 30px;
    margin-bottom: 20px;
    padding: 5px;
    color: white;
    background-color: blue;
    border: none;
    border-radius: 5px;
    cursor: progress;
    outline: none;
}
#icon {
    display: none;
} 
>>>>>>> 2345ab816298e8db4666db4445bed0b81eb30b6c
