* {
    box-sizing: border-box;
<<<<<<< HEAD
    margin: 5px;

}


.re-oder {
    order: -1;
    }



@media screen and (max-width: 600px) {
    .column {

        display: flex;


    }
 
}

@media screen and (min-width: 601px) and (max-width: 992px) {

    .row {
        
        display: flex;
        flex-wrap: wrap;
        height: 100vh;
    }

    .column {
        width: 40%;
        
    }

 

}

/*desktop*/
@media screen and (min-width: 993px) {
    .row {
        flex-wrap: wrap;
        flex-direction: row;
        display: flex;
        height: 100vh;


    }

    .column {
        width: 23%;

=======
}

.row {
    height: 100vh;
}

/* tablet */
@media screen and (min-width: 601px) {
    .row {
        display: flex;
        flex-wrap: wrap;
    }

    .column {
        width: 50%;
    }
}

/* desktop */
@media screen and (min-width: 993px) {
    .column {
        flex: 1;
>>>>>>> 694a8c2c45e1f08cdc9aa50b281a6e07485a55f9
    }
}