<<<<<<< HEAD
/* * {
    box-sizing: border-box;

}

body {
    width: 100%;
}

div {
    height: 100vh;
}


@media screen and (min-width: 601px) {
    div {
        display: flex;
        flex-wrap: wrap;
        height: 50vh;
    }

    .column {
        width: 50vw;
    }
}

@media screen and (min-width: 993px) {
    div {

        flex: 1;

    }

} */









/* Martina's code */


=======
>>>>>>> 694a8c2c45e1f08cdc9aa50b281a6e07485a55f9
* {
    box-sizing: border-box;
}

<<<<<<< HEAD

=======
>>>>>>> 694a8c2c45e1f08cdc9aa50b281a6e07485a55f9
.row {
    height: 100vh;
}

<<<<<<< HEAD

/* tablet */

@media screen and (min-width:601px) {
=======
/* tablet */
@media screen and (min-width: 601px) {
>>>>>>> 694a8c2c45e1f08cdc9aa50b281a6e07485a55f9
    .row {
        display: flex;
        flex-wrap: wrap;
    }

    .column {
        width: 50%;
    }
<<<<<<< HEAD

}


/* desktop */

@media screen and (min-width:993px) {

    .column {
        flex: 1;

    }
=======
}

/* desktop */
@media screen and (min-width: 993px) {
    .column {
        flex: 1;
    }
}
>>>>>>> 694a8c2c45e1f08cdc9aa50b281a6e07485a55f9
