body {
  margin: 0;
  padding: 0;
  background-color: grey;
}

.hide {
  display: none;
}

.container {
  margin-top: 4em;
  background-color: firebrick;
  width: 50%;
  padding: 6em;
}

.popup {
  text-align: center;
}

  
p {
  font-size: 1.1em;
  font-weight: 900;
  margin-bottom: 2em;
  color: white;
}

form {
  margin-bottom: 2em;
}

input {
  width: 90%;
  margin-bottom: 2em;
}