body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#popup {

    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
    background: orange;
    width: 40vw;
    height: 30vh;
    text-align: center;
}

#email {
    margin-top:1em;
    margin-bottom:1em;
    width: 90%;
    height:20%;
    text-align: center;
}

label {
    margin-top:8%;
    font-size: medium;
   
}

#button {
    background: red;
    width:5rem;
    color: white;
    border: none;
    height:2em;
    border-radius:5px;
    margin-bottom:3%;
    
}