 * {
         margin: 0 ;
          width:65%;
          text-align: center;
          
       
 }

 .primary-box,
 .secondary-box,
 .inside-box {
     padding: 15px 0;
     font: size 1.5em;
        
     

 }

 .inside-box {
     background-color: #8deeff;
     color: #2b2b2b;
     margin: 18px 0;
     width:100%;
     text-align: center;


 }

 .secondary-box {
     border-bottom: 16px solid#4e3b00;
     border-top: 16px solid#4e3b00;
     background-color: #edecee;
     color: black;
     
 }

 .primary-box {

     color: white;
     background: #2b2b2b;
 }
 