* {
    text-align: center;
}

.primary-box {
    color: white;
    background-color: black;
    padding: 1px 0 20px 0;
}

.inside-box {
    background-color: #8FEEFF;
    color: black;
    padding: 1px 0 2px 0;
}

.secondary-box {
    border-top: 10px solid #4F3700;
    border-bottom: 10px solid #4F3700;
    padding-bottom: 20px;
    background-color: #ECECED;
}

h3 {
    margin-bottom: -15px;
}

h2 {
    margin-bottom: -15px;
}