<<<<<<< HEAD

* { 
    
    text-align: center;
    margin: 0;
}


.primary-box {
    
background-color:#2B2B2B;
color: white;
display: block;
width: 270px;
padding: 15px;
font-size: 1.5em;
}

.secondary-box {
    
    background-color: #EDECEE;
    color: black;
    width: 300px;
    border-top: 16px solid #4E3B00;
    border-bottom: 16px solid #4E3B00;
=======
* {
<<<<<<< HEAD
    text-align: center;
    margin: 0
}

.inside-box {
    background-color: turquoise;
    color: gray;
    margin: 18px 0;
    padding: 15px 0;
    
}

.secondary-box {
    border-top: 15px solid #4E3C00;
    border-bottom: 15px solid #4E3C00;
=======
    margin: 0;
    text-align: center;
    margin: 1px 2px 3px;
}

.primary-box, .secondary-box, .inside-box {
>>>>>>> 7721066b045618bf6cb6bfbb4bed3177a2893702
    font-size: 1.5em;
>>>>>>> 7721066b045618bf6cb6bfbb4bed3177a2893702
    padding: 15px 0;
}

<<<<<<< HEAD
.inside-box {
    background-color:#8BEEFF;
    color: #2B2B2B;
    margin: 18px 0;
    padding: 15px;
    font-size: 0.8em;
}
=======
.primary-box {
<<<<<<< HEAD
    background-color: black;
    color: white;
    padding: 15px 0;
    box-shadow: 2px 4px 2px cadetblue;
}









=======
    background: #2B2B2B;
    color: white;
}

.inside-box {
    background: #8BEEFF;
    color: #2B2B2B;
    font-size: 0.8em;
    margin: 15px 0;
    display: none;
}

.secondary-box {
    background: #EDECEE;
    border-bottom: 16px solid #4E3B00;
    border-top: 16px solid #4E3B00;
}
>>>>>>> 7721066b045618bf6cb6bfbb4bed3177a2893702
