body {
<<<<<<< HEAD
  background: black;
  background-image: url(/assets/music.js);
  /* display: flex;
  flex-direction: column; */
  /* align-items: center; */
}

.line {
  display: flex;
  justify-content: space-between;
  width: 98vw;
  border: grey 1px solid;
  /* align-items: center; */
  margin-top: 1em;
}
div {
  /* margin-left: 10em; */
  color: white;
  /* display: block; */
 margin-top: 1em;
}
.track{
  width:10rem;
  height: 2rem;
  /* border:1px solid white; */
  }

.pic {
  background-image: url("/assets/img/music.jpg");
  background-position: center;
  background-size:cover;
  background-repeat: no-repeat;
  height: 3vh;
  width: 50px;
  /* border:white 1px solid; */
  margin-left:.5rem;
  /* border:1px solid white; */
}
.date{
  border:grey 1px solid;
  width:3rem;
  height: 2rem;
  margin-right:.5rem;
}

.artist{
  /* border:1px solid white; */
}

.type{
  /* border:1px solid white; */
}

.container{

}
=======
    background: black;
    background-image: url(/assets/music.js);
    /* display: flex;
    flex-direction: column; */
    /* align-items: center; */
  }
  .line {
    display: flex;
    justify-content: space-between;
    width: 98vw;
    border: grey 1px solid;
    /* align-items: center; */
    margin-top: 1em;
  }
  div {
    /* margin-left: 10em; */
    color: white;
    display: block;
  }
  .track{
    width:10rem;
    height: 2rem;
    border:1px solid white;
    }
  .pic {
    background-image: url("/assets/img/music.jpg");
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    height: 3vh;
    width: 50px;
    /* border:white 1px solid; */
    margin-left:.5rem;
    border:1px solid white;
  }
  .date{
    border:grey 1px solid;
    width:3rem;
    height: 2rem;
    margin-right:.5rem;
  }
  .artist{
    border:1px solid white;
  }
  .type{
    border:1px solid white;
  }
  .container{
  }
>>>>>>> b54d375f3c088fb244f79043840ef3bac0c41a6b
