#formContainer{
  display:flex;
  flex-direction: column;

}

#firstForm{
  border-top: 1px solid lightgrey;;
}

.inputField{
  background:lightgrey;
  border:none;
  height:2em;
}

p{
  display:flex;
  flex-direction: column;
  
}

<<<<<<< HEAD
/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}
#addressDiv,
#profileDiv,
#resultDiv {
  display: block;
}
#photoLabel {
  width: 250px;
}
=======
.button{
  background: green;
  color:white;
  height:3em;
  width:40vw;
}
>>>>>>> f15968bde50e68a1190837b1fe01f7dfa8d7a6c9
