body {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background: url(images/background.jpg) left top / cover no-repeat;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-size: 20px;
}

header {
    background: url(images/logo.png) left top/ contain no-repeat;
    height: 13rem;
    border: 7px solid rgba(255, 255, 255, 0)
}

section {
    border: 7px solid #000;
    background: #DBD1D0;
    opacity: 0.8;
}

form {
    background: #DBD1D0;
    border: 7px solid rgba(255, 255, 255, 0)
}

label {
    display: block;
    background: #363636;
    padding: 0.3%;
    color: #fff;
    position: relative;
    left: 17%;
    margin: 0 0.8%;
    text-align: left;
    text-transform: uppercase;
}

input {
    height: 2rem;
    font-style: italic;
    margin-bottom: 2.6%;
}

label,
input {
    width: 19rem;
    border: 0;
}

header,
form,
section {
    margin: 2% 0;
    padding: 1%;
    width: 30rem;
    grid-column: 2;
    text-align: center;
}

input[type="submit"] {
    background: #363636;
    height: 3rem;
    color: #fff;
}

h1,
h2,
h4 {
    font-weight: lighter;
}