* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    height: 130vh;
    background-size: cover;
    background-image: url(images/background.jpg);
}

header {
    background-image: url(images/logo.png);
    background-repeat: no-repeat;
    height: 45vh;
    margin-top: 3vh;
}

main {
    position: absolute;
    left: 25vw;
    height: 100vh;
}

.intro{
   height: 20vh;
}


.intro,
.form {
    width: 50vw;
    margin-bottom: 2vh;
    background-image: url(images/transparent_white.png);
    background-repeat: cover;
    border: solid black 8px;
}


.form {
    height: 55vh;
}

form {
    display: flex;
    flex-direction: column;
    padding-left: 25%;
    text-align: left;
}

label,
button {
    background: black;
    color: white;
}

label {
    padding: 1vh;
}

button {
    border: 0;
    height: 6vh
}

label,
input,
button {
    width: 25vw;

}

input {
    margin-bottom: 1vh;
}


h1,
h2 {
    margin: 2vh 0;

}

.p2 {
    margin-bottom: 3vh;
}



.p1,
.p2 {
    font-size: 20px;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-weight: lighter;
}



/* GRID */



/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display:grid;
    text-align: center;
    height: 130vh;
    background-size: cover;
    background-image: url(images/background.jpg);
}

header {
    background-image: url(images/logo.png);
    background-repeat: no-repeat;
    height: 45vh;
    margin-top: 3vh;
}

main {
    position: absolute;
    left: 25vw;
    height: 100vh;
}

.intro{
   height: 20vh;
}


.intro,
.form {
    width: 50vw;
    margin-bottom: 2vh;
    background-image: url(images/transparent_white.png);
    background-repeat: cover;
    border: solid black 8px;
}


.form {
    height: 55vh;
}

form {
    display: flex;
    flex-direction: column;
    padding-left: 25%;
    text-align: left;
}

label,
button {
    background: black;
    color: white;
}

label {
    padding: 1vh;
}

button {
    border: 0;
    height: 6vh
}

label,
input,
button {
    width: 25vw;

}

input {
    margin-bottom: 1vh;
}


h1,
h2 {
    margin: 2vh 0;

}

.p2 {
    margin-bottom: 3vh;
}



.p1,
.p2 {
    font-size: 20px;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-weight: lighter;
} */