// This is where you can import other stylesheets or write your scss code
@import "../../node_modules/bootstrap/scss/bootstrap";

<<<<<<< HEAD
@mixin colorbox {
    height: 400px;
    width: 18rem;
}

@mixin colorstripes {
    height: 100%;
    display: grid;
}

h1 {
    text-align: center;
}

main {
    margin-left: 20px;
    display: grid;
}

=======
@mixin colorbox() {
    // single source of thruth 
    min-height: 150px;
    width: 18rem;
}

>>>>>>> fda4ecdb704719006c5f76bf51ed02b52887b181
.card {
    @include colorbox();
}

<<<<<<< HEAD

=======
>>>>>>> fda4ecdb704719006c5f76bf51ed02b52887b181
.card-body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.yellow {
    background: #ffc83f;
    @include colorbox();
}

<<<<<<< HEAD
.pink {
    background: #fa5e5b;
    @include colorbox();
}

.blue {
    background: #1d508d;
    @include colorbox();
}

.purple {
    background: #684e79;
    @include colorbox();
}

.yellow-one {
    background: #ffc83f;
    grid-column: 1/2;
    height: 70%;
}

.yellow-two {
    background: #c59419;
    grid-column: 2/3;
    height: 70%;
}

.yellow-three {
    background: #f5dd08;
    grid-column: 3/4;
    height: 70%;
}

span {
    @include colorstripes();
}

.Pink-one {
    background: #fa5e5b;
    grid-column: 1/2;
    height: 70%;
}

.Pink-two {
    background: #c01e1c;
    grid-column: 2/3;
    height: 70%;
}

.Pink-three {
    background: #fa6f6c;
    grid-column: 3/4;
    height: 70%;
}

.Blue-one {
    background: #1d508d;
    grid-column: 1/2;
    height: 70%;
}

.Blue-two {
    background: #082d5a;
    grid-column: 2/3;
    height: 70%;
}

.Blue-three {
    background: #4695f7;
    grid-column: 3/4;
    height: 70%;
}

.Purple-one {
    background: #684e79;
    grid-column: 1/2;
    height: 70%;
}

.Purple-two {
    background: #402950;
    grid-column: 2/3;
    height: 70%;
}

.Purple-three {
    background: #c687f0;
    grid-column: 3/4;
    height: 70%;
}


@media screen and (min-width: 800px) {
    main {
        grid-template-columns: repeat(4, 1fr);
    }
=======

.pink {
    background: #fa5e5b;
    @include colorbox();
>>>>>>> fda4ecdb704719006c5f76bf51ed02b52887b181
}