// This is where you can import other stylesheets or write your scss code
@import "../../node_modules/bootstrap/scss/bootstrap";

@mixin colorbox() {
    min-height: 150px;
    width: 15rem;
}

@mixin colorbox2() {
    min-height: 150px;
    width: 5rem;
    
}

h1 {
    text-align: center;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    @include colorbox()
}

.card-body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.yellow {
    background: #ffc83f;
    @include colorbox()
}

.pink {
    background: #fa5e5b;
    @include colorbox()
}

.blue {
    background: #1d508d;
    @include colorbox()
}

.purple {
    background: #684e79;
    @include colorbox()
}

.yellow1 {
    background: #FFB900;
    @include colorbox2();

}

.yellow2 {
    background: #ffc83f;
    @include colorbox2()
}

.yellow3 {
    background: #FFF637;
    @include colorbox2()
}

.color-boxes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

.pink1 {
    background: #FA5A52;
    @include colorbox2()
}

.pink2 {
    background: #fa5e5b;
    @include colorbox2()
}

.pink3 {
    background: #E87490;
    @include colorbox2()
}

.blue1 {
    background: #0B2F8F;
    @include colorbox2()
}

.blue2 {
    background: #1d508d;
    @include colorbox2()
}

.blue3 {
    background: #396D8F;
    @include colorbox2()
}

.purple1 {
    background: #59317A;
    @include colorbox2()
}
.purple2 {
    background: #684e79;
    @include colorbox2()
}
.purple3 {
    background: #A873EB;
    @include colorbox2()
}