* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    list-style-type: none;
}

button {
    padding: 20px;
}

li {
    display: inline-block;
}

.hidden  { list-style-type: square;
    display:none;
}