<<<<<<< HEAD
html,
body {
=======
html, body {
<<<<<<< HEAD
>>>>>>> 0a7cfbfd38f445351e2980dba8449e9b94b7afe9
=======
>>>>>>> ea6a99cd47f88d950145fae491db5247c05b657a
>>>>>>> 51ae60c872ce5d59f1711be802ec8c253bd19a09
    padding: 0;
    margin: 0;
}

section {
    margin-top: 10px;
<<<<<<< HEAD
}
<<<<<<< HEAD
.task-one {
    background: lightskyblue;
}

.task-one::before {
    content: "Once upon a time ...";
    background: purple;
}

.task-one::after {
    content: "...The end.";
=======

.task-one {
    background: blue;
}

.task-one::before {
    content: "Once upon a time...";
    background: purple
}

.task-one::after {
    content: "...The End";
>>>>>>> 51ae60c872ce5d59f1711be802ec8c253bd19a09
    background: purple;
}

.task-two {
<<<<<<< HEAD
    width: 400px;
    height: 400px;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    background: url(assets/beach.jpg);
}

img{
    transform: rotate(180deg);
=======
>>>>>>> 0a7cfbfd38f445351e2980dba8449e9b94b7afe9
=======
    background-image: url(assets/beach.jpg);
    width: 500px;
    height: 500px;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

img {
    transform: rotate(0.5turn);
    
=======
>>>>>>> ea6a99cd47f88d950145fae491db5247c05b657a
>>>>>>> 51ae60c872ce5d59f1711be802ec8c253bd19a09
}