<<<<<<< HEAD
<<<<<<< HEAD
.info-1,
.info-2,
.info-3 {
    width: 30%;
=======
main {
    margin: 0 auto;
    width: 1000px;
=======
*{
    margin-top:2vh ;
    
    padding:0;
    box-sizing: border-box;
>>>>>>> 0afe14a7f767f87c1325643021e9c9c467239386
}




.info-1,
.info-2,
.info-3 {
    margin-top:2vh;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    border-radius: 5px;
>>>>>>> 355d11085c675ce8d68fb53af0e5082e86ec4bf2
    color: white;
    display: inline-block;
    padding:25px 15px;
    text-shadow: 1px 1px 1px black;
<<<<<<< HEAD
<<<<<<< HEAD
    display: inline-block;
    background-position: bottom;
    background-size: cover;
    border-radius: 18%0%;
    padding: 5px;
}

.info-1 {
    background-image: url("task2-bg.jpeg");


}

.info-2 {
    background-image: url("task2-bg1.jpeg");

}

.info-3 {
    background-image: url("task2-bg2.jpg");

}
=======
    width: 30%;
=======
    width: 33%;
    height:175px;

}

h1 {
    margin:10px;
}


main{
    margin:10px; 
>>>>>>> 0afe14a7f767f87c1325643021e9c9c467239386
}

.info-1 {
    background-image: url('assets/task2-bg.jpeg');
}

.info-2 {
    background-image: url('assets/task2-bg1.jpeg');
}

.info-3 {
    background-image: url('assets/task2-bg2.jpg');
}

>>>>>>> 355d11085c675ce8d68fb53af0e5082e86ec4bf2
