<<<<<<< HEAD
.info-1 {
    background: url(assets/task2-bg.jpeg) bottom no-repeat;
}

.info-2 {
    background: url(assets/task2-bg1.jpeg) bottom no-repeat;
}

.info-3 {
    background: url(assets/task2-bg2.jpg);

=======
main {
    margin: 0 auto;
    width: 1000px;
>>>>>>> 355d11085c675ce8d68fb53af0e5082e86ec4bf2
}

.info-1,
.info-2,
.info-3 {
<<<<<<< HEAD
    background-size: 100%;
    border-radius: 0.4rem;
    color: white;
    display: inline-block;
    margin: 0 0.05%;
    padding: 0.5rem;
    text-shadow: 1px 1px 1px black;
    width: 31.5%;
}
=======
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    border-radius: 5px;
    color: white;
    display: inline-block;
    padding: 10px;
    text-shadow: 1px 1px 1px black;
    width: 30%;
}

.info-1 {
    background-image: url('assets/task2-bg.jpeg');
}

.info-2 {
    background-image: url('assets/task2-bg1.jpeg');
}

.info-3 {
    background-image: url('assets/task2-bg2.jpg');
}

>>>>>>> 355d11085c675ce8d68fb53af0e5082e86ec4bf2
