/* Use flexbox to display the divs on one row in the center of the container */

body {
    align-items: center;
    border: 5px solid red;
    display: flex;
<<<<<<< HEAD
    flex-direction: row;
    height: 100vh;
    justify-content: space-between;
=======
    height: 100vh;
    justify-content: space-around;
>>>>>>> 67b86d63b5a7f483c338539ddf25515be07ae52a
}

div {
    flex-shrink: 1;
    height: 100px;
    /* width: 150px;  */
    background-color: darkgray;
    margin: 1em;
    border: 2px solid red;
    text-align: center;
}

